<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 style="font-family: 'Lato', sans-serif;">To Do List</h1>
        </div>
    </div>

    <ul style="padding: 0;" class="text-center">
        {% for todo_item in all_items %}
            <div class="alert bg-warning alert-dismissible fade show" role="alert">
                <li style="list-style: none;">{{ todo_item.content }}</li>
                <form action="/deleteTodo/{{todo_item.id}}/" method="post">{% csrf_token %}
                    <button type="submit" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </form>
            </div>
        {% endfor %}
    </ul>


    <form action="/addTodo/" method="post">{% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" name="content" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button type="submit" class="btn btn-success" id="button-addon2">ADD</button>
            </div> 
        </div>
    </form>
      
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html> 